<% if session[:userinfo] %>

  <%= link_to '<< Back to List', articles_path, class: 'hover:text-white hover:no-underline bg-dk-blue hover:bg-indigo-700 text-white font-bold py-4 px-8' %>

  <h1 class="text-center h1-bg">Edit Article</h1>

  <div class="custom-form rounded-lg">
    <%= render 'form' %>
  </div>
<% end %>

<% if session[:userinfo].nil? %>
    <section class="jumbotron  text-center">
        <p>You must log in to edit an article.</p>
    </section>
<% end %>