<h1 class="text-4xl text-center">List Articles</h1>

<% if session[:userinfo] %>
    <div class="text-center">
        <button class="bg-gray-500 hover:bg-gray-700 text-white m-4 font-bold py-4 px-8 rounded">
            <%= link_to 'New article', new_article_path, class: "hover:text-white hover:no-underline" %>
        </button>
    </div>
<% end %>

<table id="railtable" class="w-1/2 m-auto">
    <tr>
        <th>Title</th>
        <th></th>
    </tr>

    <% @articles.each do |article| %>
        <tr>
            <td><%= link_to article.title, article_path(article) %></td>
            <% if session[:userinfo] %>
                <td><%= link_to 'Edit', edit_article_path(article), class: "text-blue-600 underline" %></td>
            <% end %>
            <% if session[:userinfo] %>
            <td><%= link_to 'Destroy', article_path(article),
                method: :delete,
                data: { confirm: 'Are you sure?' }, class: "text-blue-600 underline" %></td>
            <% end %>
        </tr>
    <% end %>
</table>