<section class="jumbotron text-center bg-white shadow">
  <% if session[:userinfo] %>
    <p>Logged in.</p>
  <% end %>
  
  <% if session[:userinfo].nil? %>
    <p>Logged out.</p>
  <% end %>
</section>
